#search-btn {
    border: 1px solid #d2d6de;
}
#search-btn:hover {
    background: #605ca8;
    color: #eee;
}
.tab-content > .tab-pane {
    border: 1px solid #ddd;
    padding: 15px;
    border-top: none;
}
#search-btn {
    border: 1px solid #bbb;
}
#admin-search {
    margin-bottom: 15px;
}
table.dataTable thead td,
table.dataTable tfoot td,
table.dataTable.no-footer,
table.dataTable thead th {
    border-bottom: none;
}

.SignOutDiv
{
  text-align: center;
  height: 25px;
  width: 80px;
}

.SignOutLink{
  color:white;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.SignOutLink:hover{
  color:white;

}
#f_color , #l_color , #name, #icon, #icon_code, #icon_font, #status, #cover, #slug
{
  width: 100%;
}
.group{
  margin:0 auto;
  width:80%;
}
.customBox{position:relative;border-radius:3px;background:#ffffff;border-top:3px solid #d2d6de;margin:20px auto;width:50%;box-shadow:0 1px 1px rgba(0,0,0,0.1)}


.checkbox-list {
    list-style-type: none;
    padding-left: 0;
}

.checkbox-list ul {
    list-style-type: none;
    padding-left: 25px;
}


.hint{
    background-color:#605ca8; text-align:center; margin:0 auto; width:50%;color: white;font-size: 12px;border-radius: 7px;
}
.flutterIcon:hover,.flutterIcon:focus,.flutterIcon:active
{
color: #0089db;
}
